$font-size: 2rem;
$font-size-small: 1.5rem;
$font-size-medium: 2.5rem;
$font-size-large: 10rem;
$font-family: "Inter", sans-serif;
$font-color: rgb(247, 244, 244);
$font-color-dark: #aaa;
$line-height: 1.2;
$border-color: #222;
$background-light: rgba(0, 0, 0, 0.6);
$background-light-hover: rgba(99, 99, 99, 0.4);
$background-dark: rgba(0, 0, 0, 0.9);

@mixin flex($direction, $align-item, $justify-content) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin grid($repeatColumn, $gap) {
  display: grid;
  grid-template-columns: $repeatColumn;
  grid-gap: $gap;
}

@mixin image {
  display: block;
  width: 100%;
}

@mixin button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  outline: none;
}
