.menu {
  @include grid(repeat(2, 1fr), 4rem);
  animation: fadeIn 1.5s;
}

.menu-item {
  @include flex(column, center, center);
  gap: 3rem;
  height: 300px;
  padding: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  h3 {
    text-align: center;
  }
}

.menu-item:hover {
  background-color: $background-light-hover;
  transform: translateY(-1%);
}
