*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-family: $font-family;
  font-size: $font-size-small;
  color: $font-color;
  background-image: url(/src/images/body-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}

header {
  font-size: $font-size-medium;
}

h1,
h2,
h3 {
  line-height: $line-height;
}

img {
  @include image();
}

button {
  @include button();
}

main {
  @include flex(row, center, center);
}

#content {
  @include flex(column, center, space-between);
  height: 100vh;
}

.header {
  @include flex(column, center, center);
  width: 100%;
  padding: 2rem;
  background-color: $background-dark;
  border-bottom: 1px solid $border-color;
}

.restaurant-name {
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  font-size: $font-size-large;
}

.button-nav {
  padding: 2rem;
  font-size: $font-size;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s;
}

.button-nav.active {
  border-bottom: 2px solid $font-color;
}

.button-nav:hover {
  transform: translateY(-10%);
}

.main {
  @include flex(row, center, center);
  max-width: 700px;
  padding: 4rem;
  margin: 6rem 0;
  font-size: 2rem;
  background-color: $background-light;
  border: 1px solid $border-color;
}
